.headline {
  justify-items: center;
  max-width: 40rem;
}

.navbar {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

.navbutton {
  padding: 10px;
  border-left: 1px solid black;
}

.featured {
  max-width: 40rem;
  justify-self: center;
  padding: 25px;
  margin: 25px;
  border: 1px solid black;
}
