html {
    background-color: #BDD2B6;
}
.topbar {
  height: 2rem;
  display: flex;
  position: fixed;
  top: 0px;
}

.buttonbox {
  height: 2rem;
  max-width: 5rem;
  background-color: #A2B29F;
  border: 1px solid black;
  text-align: center;
  line-height: 2rem;
  padding: 0px 5px 0px 5px; 
  border-radius: 5px;
  transition: transform 0.2s ease, border-radius 0.2s ease, background-color 0.2s ease;
}

.buttonbox:hover {
  transform: scale(1.2);
  border-radius: 25px;
  background-color: #798777;
}

.button {
  color: black;
  text-decoration: unset;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 20rem;
  height: 40rem;
  border-radius: 10px;
  border: 5px solid #A2B29F;
  padding: 1%;
  transition: transform 0.2s ease;
  background: white;
  background-color: #F8EDE3;
}

.card:hover {
  transform: scale(1.2);
}

.cardpic {
  max-width: 90%;
  display: block;
  margin: 1rem auto;
  border-radius: 5px;
}

.cardtext {
  max-width: 90%;
  display: block;
  margin: 1rem auto;
}

.contenttitle {
  flex-basis: 100%;
  margin: auto 3%;
} 

.cardcredits {
  margin-top: 1rem;
  flex-basis: 100%;
  font-size: x-small;
}

